.registration {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0rem 2rem;
}
.registration-header{
    display: flex;
    gap:1rem;
    font-weight: bold;
    font-size: 3rem;
    justify-content: center;
    color: white;
    text-transform: uppercase;
    font-style: italic;
    /* padding-top: 2rem; */
}
/* .registration>:nth-child(1) {
    text-align: center;
    font-size: 3rem;
} */

.registration-container {
    display: flex;
    gap: 5rem;
}
.registration-msg{
    color: var(--gray);
    font-size: 1.5rem;
    font-weight: bold;
}
.reg-intro-l {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex: 1
}

.reg-intro-l>:nth-child(1),
.reg-intro-m>:nth-child(1),
.reg-intro-r>:nth-child(1) {
    color: var(--orange);
    font-size: x-large;
}

.reg-intro-l>:nth-child(2),
.reg-intro-m>:nth-child(2),
.reg-intro-r>:nth-child(2) {
    color: white;
    letter-spacing: 0.5px;
    text-align: justify;
}

